@page "/"

<PageTitle>Welsh Verbs</PageTitle>

<h1>Verb Tables</h1>

<p>See below for the verb table for your chosen verb</p>

<h2>Register</h2>
<p>Formal or Informal</p>
<p>Written or Spoken</p>

<h2>Verb Table</h2>
<table class="table table-striped">
    <th>Subject Pronoun (English)</th>
    <th>Subject Pronoun (Welsh)</th>
    <th>Conjugated Verb</th>
    <tr>
    <td>I</td>
    <td>Dwi'n</td>
    <td>siarad</td>
    </tr>
</table>
